In [7]:
import pandas as pd
import pathlib
import sys

path = str(pathlib.Path().resolve().parent)
sys.path.append(path)

Source 1 : https://github.com/LCS2-IIITD/ENDEMIC/tree/main/ECTF%20Dataset%20Sample

In [8]:
df_fake = pd.read_csv(path + '/data/Sources/fake.csv',index_col = 0)
df_fake = df_fake.rename(columns = {'text':'tweet'})
df_fake = df_fake.drop(columns = ['id'])
df_fake['label'] = 0
df_fake.head()

                                               tweet  label
0  RT @LegendaryEnergy: Just two weeks of Coronav...      0
1  RT @OldClassicBrown: If you have ever been her...      0
2  RT @hollaa_backk: if youâ€™ve ever used a frat h...      0
3  RT @TMe1official: Cocaine cures corona virus!!...      0
4  RT @DeplrbleRzistr: Itâ€™s almost as if a whole ...      0

In [9]:
df_real = pd.read_csv(path + '/data/Sources/genuine.csv',index_col = 0)
df_real = df_real.rename(columns = {'text':'tweet'})
df_real = df_real.drop(columns = ['id'])
df_real['label'] = 1
df_real.head()

                                               tweet  label
0  RT @WHO: Media briefing on #COVID19 with @DrTe...      1
1  RT @SharylAttkisson: I defer to https://t.co/2...      1
2  "In Wuhan, ðŸ‡¨ðŸ‡³ the 1st cluster of #COVID19 case...      1
3  NEW: China reported no new confirmed cases of ...      1
4  .@CDCgov, the apex health agency of USA revise...      1

In [10]:
df_constraint_train = pd.read_csv(path + '/data/Sources/Constraint_Train.csv',index_col = 0)
df_constraint_train['label'] = df_constraint_train['label'].replace(
    {'real':1,'fake':0}
    )
df_constraint_train.head()

                                                tweet  label
id
1   The CDC currently reports 99031 deaths. In gen...      1
2   States reported 1121 deaths a small rise from ...      1
3   Politically Correct Woman (Almost) Uses Pandem...      0
4   #IndiaFightsCorona: We have 1524 #COVID testin...      1
5   Populous states can generate large case counts...      1

Source 2 : https://github.com/diptamath/covid_fake_news/tree/main/data

In [11]:
df_constraint_val = pd.read_csv(path + '/data/Sources/Constraint_Val.csv',index_col = 0)
df_constraint_val['label'] = df_constraint_val['label'].replace(
    {'real':1,'fake':0}
    )
df_constraint_val.head()

                                                tweet  label
id
1   Chinese converting to Islam after realising th...      0
2   11 out of 13 people (from the Diamond Princess...      0
3   COVID-19 Is Caused By A Bacterium, Not Virus A...      0
4   Mike Pence in RNC speech praises Donald Trumpâ€™...      0
5   6/10 Sky's @EdConwaySky explains the latest #C...      1

In [12]:
df_english_test_with_labels = pd.read_csv(path + '/data//Sources/english_test_with_labels.csv',index_col = 0)
df_english_test_with_labels['label'] = df_english_test_with_labels['label'].replace(
    {'real':1,'fake':0}
    )
df_english_test_with_labels.head()

                                                tweet  label
id
1   Our daily update is published. States reported...      1
2              Alfalfa is the only cure for COVID-19.      0
3   President Trump Asked What He Would Do If He W...      0
4   States reported 630 deaths. We are still seein...      1
5   This is the sixth time a global health emergen...      1

Source 3 :https://github.com/susanli2016/NLP-with-Python/tree/master/data

In [13]:
df_corona_fake = pd.read_csv(path + '/data/Sources/corona_fake.csv')
df_corona_fake = df_corona_fake[df_corona_fake['source'] == 'twitter']
df_corona_fake = df_corona_fake.drop(columns = ['title','source'])
df_corona_fake['label'] = df_corona_fake['label'].replace(
    {'Fake':0,'fake':0,'TRUE':1}
)
df_corona_fake = df_corona_fake.rename(columns = {'text':'tweet'})
df_corona_fake.head()

                                                 tweet  label
13   Corona virus before it reaches the lungs it re...      0
403  Microsoft co-founder Bill Gates will launch hu...      0
404  So Bill Gates is launching implantable chips t...      0
405  Bill Gates is launching implantable chips whic...      0
486  People have been trying to warn us about 5G fo...      0

Source 4 : https://github.com/MickeysClubhouse/COVID-19-rumor-dataset/tree/master/Data

In [14]:
df_en_dup = pd.read_csv(path + '/data/Sources/en_dup.csv')
df_en_dup = df_en_dup[
    df_en_dup['source'].str.contains("https://twitter.com")==True
    ]
df_en_dup = df_en_dup[
    df_en_dup['label'].str.contains("T|F")==True
    ]
df_en_dup = df_en_dup.drop(columns = [
    'source',
    'author',
    'time'
])
df_en_dup['label'] = df_en_dup['label'].replace(
    {'T':1,'F':0}
)
df_en_dup = df_en_dup.rename(columns = {'content':'tweet'})
df_en_dup.head()

      label                                              tweet
1843      1  Only few people will stay in campus tho?? http...
1844      1  #coronavirusuk Coronavirus: Fourth patient in ...
1845      1  @TPE_connect Yet later proved true even though...
1846      1  Centre for Health Protection details on the ei...
1848      1  #China reported that 94 more people died on Tu...

Source 5 : Scraped using IDS from https://github.com/cuilimeng/CoAID

In [15]:
df_s5_fake = pd.read_csv(path + '/data/Sources/Scraped/fake_tweets.csv',index_col = 0)
df_s5_fake.head()

                                               tweet  label
0  ðŸ¤” Bill and Melinda Gates Foundation &amp; Othe...      0
1  Bill and Melinda Gates Foundation &amp; Others...      0
2  Bill and Melinda Gates Foundation &amp; Others...      0
3  Bill and Melinda Gates Foundation &amp; Others...      0
4  Bill and Melinda Gates Foundation &amp; Others...      0

In [16]:
df_s5_real = pd.read_csv(path + '/data/Sources/Scraped/real_tweets.csv',index_col = 0)
df_s5_real.head()

                                               tweet  label
0  The Traina Family in red and blue! Thank you f...      1
1  @YMCAGBC in Hackensack is pleased to reopen ch...      1
2  Good News from #Seattle NIH Clinical Trial of ...      1
3  @MGLemieux I'm pursuing an Msc in Biochemistry...      1
4  COVID-19 Vaccine Candidate Shows Promise in Fi...      1

Merge datasets :

In [17]:
final_df = pd.concat(
    [
        df_fake,
        df_real,
        df_constraint_train,
        df_constraint_val,
        df_english_test_with_labels,
        df_corona_fake,
        df_en_dup,
        df_s5_fake,
        df_s5_real
    ],
    ignore_index=True
)
# Drop duplicates
final_df = final_df.drop_duplicates(subset = ['tweet'])

In [18]:
final_df.groupby(by = 'label').count()

       tweet
label
0      14485
1      17516

In [20]:
final_df.to_csv(path + '/data/final_merged_dataset.csv')