In [10]:
import pandas as pd
import pathlib
import sys
import numpy as np
from functools import partial

from preprocessing import *

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
data = pd.read_csv('final_merged_dataset.csv',index_col = 0)

# Remove emojis :

data['tweet'] = data['tweet'].apply(remove_emojis)

# Remove retweets :

data['tweet'] = data['tweet'].apply(remove_retweets)

# Remove mentions :

data['tweet'] = data['tweet'].apply(remove_mentions)

# Remove urls :

data['tweet'] = data['tweet'].apply(remove_urls)

# Remove hashtags :

data['tweet'] = data['tweet'].apply(remove_hashtags)

# Replace slash chars (\n, \t, \r) by space :

data['tweet'] = data['tweet'].apply(replace_slash_chars_by_space)

# Remove underscore :

data['tweet'] = data['tweet'].apply(remove_underscore)

# To lowercase :

data['tweet'] = data['tweet'].apply(to_lowercase)

#Additional cleaning :

data['tweet'] = data['tweet'].apply(clean_tokens)

# Remove additional white space :

data['tweet'] = data['tweet'].apply(remove_additional_space)

data.head()

                                               tweet  label
0  just two weeks of coronavirus media coverage a...      0
1  if you have ever been here congratulations you...      0
2  if ever used a frat house bathroom immune to t...      0
3  cocaine cures corona virus this just got inter...      0
4  almost as if a whole lot of americans have cov...      0

In [13]:
fake_df_length = data[data['label'] == 0]['tweet'].apply(lambda x:len(x)).to_frame()
fake_df_length = fake_df_length[fake_df_length['tweet'] <= 280]
idx_fake = np.random.choice(fake_df_length.index,size=2000)

In [14]:
fake_df = data.loc[idx_fake,'tweet']
fake_df.to_csv('fake_news.txt',index=False,header=False)